.flowComponentRoot{
  width: 200px;
  .flowHeader {

    padding: 12px 8px 8px 8px;
    .selectionButton{
      left: 70px;
    }
    .selectionText{
      position: relative;
      left: 70px;
      top: 3px;
      display: inline-block;
      margin-left: 8px;
    }
  }
  .arrow{
    left: 67px;
    position: relative;
    top: -22px;
    z-index: 10;
  }

}

