.textField{
  margin-left: 5px;
  margin-right: 5px;
}
.formControl {
  margin: 5px;
  flex-grow: 1;
}
.selectEmpty{
  margin-top: 10px;
}
.aaa{    margin-top: 14px;
  margin-bottom: 3px;
  z-index: 1000;}

.marginBottom { margin-bottom: 8px;}
.marginLeft { margin-left: 15px;}

.MuiIconButton-root-472:focus{
  outline: none;
}
.propsTable{
  max-height:400px;
  overflow: auto;
}
